@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: 'Chakra Petch', sans-serif;
}

.contador{
    display: flex;
    justify-content: center;
}
.contador-digito{
    padding: 0 16px;
    text-align: center;
}
.contador-digito-numero{
    font-size: 80px;
    margin: 0;
}
.contador-digito-texto{
    color: var(--verde);
    font-size: 20px;
    margin: 0;
}
.contador{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contador-digito{
    padding: 0 16px;
    text-align: center;
    min-width: 100px;
}
